@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto',sans-serif;
}
.top-container{
    display: flex;
    padding: 10px 25px;
    background-color: #f7f7f7;
    align-items: center;
}
.top-brand img{
    height: 70px;

}
.top-name{
    color: #0c54a3;
    font-size: 1.5rem;
    margin: 0px 20px;
}
main{
    display: flex;
    justify-content: center;
    padding: 40px;
}
form{
    background-color: #f7f7f7;
    border: 1px solid lightgray;
    width: 800px;
}
form .form-heading{
    background-color: #0c54a3;
    color: white;
    text-align: center;
    padding: 10px;
}
form div.formgroup{
    width: 90%;
   margin: 30px auto;
}
form div label{
    display: block;
    font-size: 1.15rem;
    margin: 5px 0;
    color: #4d4d4d;
}
form div input{
    padding:  8px 20px;
    width: 100%;
    border-radius: 8px;
    outline: 0;
    border: 1px solid lightgray;
    font-size: 1rem;
    transition: 0.3s ease-out;
}
div input:focus{
    border-radius: 0px;
    background-color: rgb(245, 242, 242,0.3);
    border-color: black;
}

button.submit{
    width: 100%;
    padding: 8px;
    background-color: #0c54a3;
    border: 1px ;
    font-size: 1.1rem;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-out;
}
button.submit:hover{
    background-color: #072647;
    border-radius: 0;
}

/* footer */
footer {
    margin-top: 50px;
  }
  div.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 40px;
  }
  .logos .logo1 {
    height: 100px;
    padding: 20px;
    border: 1px solid lightgray;
  }
  .logos .logo2 {
    height: 150px;
    padding: 20px;
    border: 1px solid lightgray;
  }
  footer .links {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
  }
  .footer-link {
    text-decoration: none;
    color: #4d4d4d;
    margin: 0px 2px;
    font-weight: 600;
    font-size: 0.9rem;
  }
  .copyright {
    background-color: #0c54a3;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 0.8rem;
  }